<style>

    body{background: url("/multimidia/fundo.png"); }
</style>


<form name="cadastra_adocao_form" novalidate class="form-horizontal" ng-submit="cadastraAdocao()">
     <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Nome:</label>
        <div class="col-sm-5">
          {{dataCadastraAdocao.pet.nome}}
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Espécie:</label>
        <div class="col-sm-5">
            {{resolveEspeciesNome(dataCadastraAdocao.pet.especie_id, dataMain.especies)}}
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Observações:</label>
        <div class="col-sm-5">
          <textarea class="form-control" rows="4" cols="50" ng-model="dataCadastraAdocao.pet.adocao.observacao"></textarea>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#/home">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
            <button type="submit" class="btn btn-primary" ng-disabled="cadastra_adocao_form.$invalid">Cadastrar</button>
        </div>
    </div>
</form>

    