<style>

    body{background: url("/multimidia/fundo.png"); }
</style>

<form name="cadastra_pet_form" class="form-horizontal" ng-submit="cadastraPet()" novalidate>
  <div class="form-group">
    <label for="nome" class="col-sm-2 control-label">Nome:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="nome" placeholder="Nome do pet" ng-model="dataCadastraPet.pet.nome">
    </div>
  </div>
  <div class="form-group">
    <label for="especie" class="col-sm-2 control-label">Espécie:</label>
    <div class="col-sm-5">
      <select name="especie" id="especie" class="form-control"  ng-model="dataCadastraPet.pet.especie">
        <option ng-repeat="especie in dataMain.especies" value="{{especie.id}}">{{especie.nome}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="#/home">
    <button type="button" class="btn btn-danger">Cancelar</button>
  </a>
  <button type="submit" class="btn btn-primary" ng-disabled="cadastra_pet_form.$invalid">Cadastrar</button>
    </div>
  </div>
</form>