<html>
<head>
<meta charset="UTF-8">
		
	<link href="menuSuperior.css" rel="stylesheet">
		
	<script language = "javascript" src = "scriptMenuSuperior.js">	</script>
</head>
	<body>
		<font face = "Arial">
		<h1>Bem vindo {{dataHome.usuario}}</h1> <br/>
		<!-- barra menu superior -->
		<ul>
			<li> <a href = "home.html" class = "ativo"> Início </a> </li>
			<li> <a href = "#perfil"> Perfil </a> </li>
			<li class = "cascata">
				<a href = "javascript:void(0)" class = "drop" onclick = "menuCascata()"> Pets </a>
					<div class = "conteudo-cascata" id = "menuCascata">
						<a href = "#"> Gatos </a>
						<a href = "#"> Cachorros </a>
						<a href = "#"> Outros </a>
					</div>
			</li>
		</ul>
		 
		 <!-- fim barra menu superior -->
		 
		<p>
		<table style="width:100%" class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-6">Nome do Pet</th>
					<th class="col-md-3">Especie</th>
					<th class="col-md-1">Cadastrar para Adoção</th>
					<th class="col-md-1">Reportar como Perdido</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pet in dataHome.pets">
					<td>{{pet.nome}}</td>
					<td>{{pet.especieNome}}</td>
					<td>
						<a href="#/cadastra-adocao?id={{pet.id}}" ng-click="cadastraPet($index)" class="btn btn-primary" ng-class="{disabled: pet.adocao}">
							Adoção
						</a>
					</td>
					<td>
						<a href="#/cadastra-perdido?id={{pet.id}}" ng-click="cadastraPet($index)" class="btn btn-danger" ng-class="{disabled: pet.perdido}">
							Perdido!
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</font>
	</body>
</html>