<style>

    body{background: url("/multimidia/fundo.png"); }
</style>

<h1>Bem vindo {{dataMain.usuario.nome}}</h1> <br/>

<table style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-6">Nome do Pet</th>
            <th class="col-md-3">Especie</th>
            <th class="col-md-1">Cadastrar para Adoção</th>
            <th class="col-md-1">Reportar como Perdido</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pet in dataHome.pets">
            <td>{{pet.nome}}</td>
            <td>{{resolveEspeciesNome(pet.especie_id, dataMain.especies)}}</td>
            <td>
                <button ng-if="!pet.adocao" ng-click="cadastraPetAdocao($index)" class="btn btn-primary">Adoção</button>
                <button ng-if="pet.adocao" ng-click="removerAdocao($index)" class="btn btn-success">Remover da Adoção</button>
            </td>
            <td>
                <button ng-if="!pet.perdido" ng-click="cadastraPetPerdido($index)" class="btn btn-danger">Perdido!</button>
                <button ng-if="pet.perdido" ng-click="removerPerdido($index)" class="btn btn-success">Encontrado</button>
            </td>
            <td>
                <button class="btn btn-danger"  ng-click="deletaPet($index)">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>    
                </button>
            </td>
        </tr>
    </tbody>
</table>