<div class="container">
    <h2 class="form-signin-heading">Login</h2>
    <label for="loginUsuario" class="sr-only">Usuario</label>
    <input type="text" name="loginUsuario" class="form-control" placeholder="Login" required autofocus ng-model="usuario.login">
    <label for="loginSenha" class="sr-only">Senha</label>
    <input type="password" name="inputSenha" class="form-control" placeholder="Senha" required ng-model="usuario.senha">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(usuario)">Login</button>
    
    
</div> <!-- /container -->